/* Global Styles - not encapsulated */
@import '../_variables.scss';

html {
  margin: 0;
  height: 100%;
  font-size: 1em;
}

body {
  height: 100%;
  margin: 0;
  font-family: $font-stack;
}

.app-header {
  margin: 0 0 1em 0;
}

.app-content {
  margin: 0 0 1em 0;
}

.app-footer {}
