@import '../../../_variables.scss';

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  .card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: 2em 0 0;
    width: 90%;
  }

  .card {
    flex-basis: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 0 0.5em 1em 0.5em;
    padding: 1em 0.6em 1em 0.6em;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      img {
        border-radius: 50%;
        margin: 10px 10px 0 10px;
      }

      p {
        font-size: 1.25em;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
    }

    .card-snippet {
      margin: 0;
      padding: 0;

      p {
        padding: 0;
        font-size: 1em;
      }
    }

    .card-checkin {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
    }
  }
}
