@import '../../../_variables.scss';

:host {
  .search-input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    width: 40%;

    input[type="text"] {
      @extend .txt-input;

      flex-grow: 1;
    }

    button {
      @extend .btn;
    }
  }
}
