<div *ngIf="bar">
  <img src="{{bar.imageUrl}}" alt="Picture of the business.">
  <p>Name: {{bar.name}}</p>
  <p>Snippet: {{bar.snippet.text}}</p>
  <p>Rating: {{bar.rating}}</p>
  <p>Number of Ratings: {{bar.reviewCount}}</p>
  <p>Phone: {{bar.phone}}</p>
  <p>isOpen: {{bar.isOpen}}</p>
  <p>City: {{bar.location.city}}</p>
  <p>ZipCode: {{bar.location.zipCode}}</p>
  <p>State: {{bar.location.state}}</p>
  <p>Address: {{bar.location.displayAddress.join(' ')}}</p>
  <p>Number Going: {{bar.numberGoing}}</p>
</div>
