$font-stack: 'Roboto', sans-serif;
$gray: #b1b1b1;
$white: #fff;
$black: #000;
$primary: #2e623e;

.btn {
  padding: 0.6em 1em 0.6em 1em;
  border: none;
  background-color: $gray;
  text-shadow: -1px 1px $black;
  font-size: 1.1em;
  color: $white;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: darken($gray, 30);
  }

  &:active {
    background-color: darken($gray, 50);
  }

  &:disabled {
    background-color: $gray;
  }
}

.txt-input {
  margin: 0;
  padding: 0.5em;
  font-size: 1.05em;

  &:focus {
    outline: none;
  }
}
